<template>
  <div>
    <nav class="teal">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">
          <i class="material-icons">content_paste</i> TodoList
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {};
</script>
<style lang="scss" scoped>
nav {
  margin-bottom: 40px !important;
}
</style>

