<template>
  <div class="row" @click="msg = ''">
    <div class="col s12 m12">
      <div v-if="msg" :class="msgClass" class="center msg z-depth-3 scale-transition">{{msg}}</div>
    </div>
  </div>
</template>

<script>
import { eventBus } from "../../main.js";
export default {
  data() {
    return {
      msg: "",
      msgClass: String
    };
  },
  mounted() {
    eventBus.$on("alert", payload => {
      this.msgClass = payload.success ? "msg-success" : "msg-error";
      this.msg = payload.message;
    });
  }
};
</script>

<style lang="scss" scoped>
.msg {
  width: 100%;
  border: 1px solid;
  padding: 10px;
  color: grey;
}
.msg-error {
  // rouge
  border-color: #d32f2f;
  background-color: #ef5350;
  color: white;
}
.msg-info {
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}
.msg-success {
  border-color: #00e676;
  background-color: #00c853;
  color: white;
}
</style>
