<template>
  <div class="container">
    <div class="row" style="width: 50%">
      <div class="card hoverable col s12">
        <app-Navbar :selected="name"></app-Navbar>
        <form novalidate @submit.prevent="submit">
          <div class="card-content">
            <app-alert></app-alert>
            <span class="card-title">{{name}}</span>
            <slot></slot>
          </div>
          <div class="card-action">
            <div class="row">
              <button type="submit" class="btn btn-large waves-effect waves-light col s12">{{name}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "./Navbar";
import AlertBox from "./AlertBox";
export default {
  name: 'Frame',
  props: {
    error: String,
    submit: Function,
    name: String
  },
  components: {
    appNavbar: Navbar,
    appAlert: AlertBox
  }
};
</script>

<style>
</style>
