<template>
  <div class="row">
    <div class="input-field col s12">
      <input
        v-validate="validate"
        :value="value"
        :id="id"
        :name="name"
        :type="type"
        :class="[errors.has(name) ? 'invalid': 'valid']"
        @input="triggerEvent"
      >
      <label :for="name">{{label}}</label>
      <span class="helper-text red-text" v-if="errors.has(name)">{{ errors.first(name) }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    type: String,
    label: String,
    id: String,
    name: String,
    validate: {}
  },
  methods: {
    triggerEvent(event) {
      this.$emit("fieldChanged", event.target.value);
    }
  }
};
</script>

<style>
</style>
