<template>
  <app-frame :submit="onSubmit" :error="error" name="Login">
    <app-inputField
      :validate="{required: true}"
      id="username"
      name="username"
      type="text"
      :value="username"
      label="Username"
      @fieldChanged="username = $event"
    ></app-inputField>
    <app-inputField
      :validate="{required: true}"
      id="password"
      name="password"
      type="password"
      :value="password"
      label="Password"
      @fieldChanged="password = $event"
    ></app-inputField>
  </app-frame>
</template>

<script>
import Navbar from "./Navbar.vue";
import inputField from "./InputField.vue";
import Frame from "./Frame.vue";
import AlertBox from "./AlertBox.vue";
import { eventBus } from "../../main";
import axios from "axios";
import Service from "../../services/TodoService";

export default {
  components: {
    appNavbar: Navbar,
    appInputField: inputField,
    appFrame: Frame,
    appAlert: AlertBox
  },
  data() {
    return {
      selected: "Login",
      username: "",
      password: "",
      confirmPassword: "",
      error: ""
    };
  },
  methods: {
    async onSubmit() {
      let formData = { username: this.username, password: this.password };
      try {
        this.error = "";
        let response = await Service.login(formData);
        localStorage.setItem("jwtToken", response.data.token);
        eventBus.$emit("alert", { success: true, message: response.data.msg });
        this.$router.push("/list");
      } catch (error) {
        // if (typeof(error.response.data.msg) == Array) {
        //   this.error = error.response.data.msg.toString();
        // }
        this.error = error.response.data.msg;
        eventBus.$emit("alert", { success: false, message: this.error });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>

