<template>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <router-link to="/login" tag="li" class="tab" active-class="active">
        <a :class="{'active': selected == 'Login'}">Login</a>
      </router-link>
      <router-link to="/register" tag="li" class="tab" active-class="active">
        <a :class="{'active': selected == 'Register'}">Register</a>
      </router-link>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    selected: {
      default: "Login"
    }
  },
  mounted() {
    var tabs = document.querySelectorAll(".tabs");
    for (var i = 0; i < tabs.length; i++) {
      M.Tabs.init(tabs[i]);
    }
  }
};
</script>

<style lang="scss">
$custom-color: teal;

.tabs {
  .tab {
    a {
      color: $custom-color;
      &.active {
        color: $custom-color;
      }
      &:hover {
        color: $custom-color;
      }
      &:focus {
        background-color: rgba($custom-color, 0.1);
        &.active {
          background-color: rgba($custom-color, 0.1);
        }
      }
    }
  }
  .indicator {
    background-color: $custom-color !important;
  }
}
</style>
