<template>
  <app-frame :submit="onSubmit" :error="error" name="Register">
    <app-InputField
      :validate="{required: true}"
      id="username"
      name="username"
      type="text"
      :value="username"
      label="Username"
      @fieldChanged="username = $event"
    ></app-inputField>
    <app-InputField
      :validate="{required: true}"
      id="password"
      name="password"
      type="password"
      :value="password"
      label="Password"
      @fieldChanged="password = $event"
    ></app-InputField>
    <app-inputField
      :validate="{required: true, is: password}"
      id="confirmPassword"
      name="confirmPassword"
      type="password"
      :value="confirmPassword"
      label="Confirmation Password"
      @fieldChanged="confirmPassword = $event"
    ></app-inputField>
  </app-frame>
</template>

<script>
import Navbar from "./Navbar.vue";
import Service from "../../services/TodoService";
import inputField from "./InputField.vue";
import Frame from "./Frame.vue";
import { eventBus } from "../../main.js";
export default {
  components: {
    appNavbar: Navbar,
    appInputField: inputField,
    appFrame: Frame
  },
  data() {
    return {
      selected: "Register",
      username: "",
      password: "",
      confirmPassword: "",
      error: ""
    };
  },
  methods: {
    async onSubmit(evt) {
      this.error = "";
      try {
        let formData = { username: this.username, password: this.password };
        let response = await Service.register(formData);
        this.error = response.data.message;
        console.log(this.error);
        eventBus.$emit("alert", { success: true, message: this.error });
        // this.$router.push("/login");
      } catch (error) {
        this.error = error.response.data.message.toString();
        eventBus.$emit("alert", { success: false, message: this.error });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
</style>


